@import '../../variables.css';

article {
	background-image: url('../../images/TEL_h_pos_3D_4cp_200mm.jpg');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;

    background-color: white;

	position: relative;
	top: 0px;
	float: left;
	width: 100%;
}

.columns {
  	height: 411px;
  	width: auto;
  	opacity: 0.8;
}