@import '../../variables.css';

.release-plan {
  position: relative;
  display:table;
  width: 100%;
  height: 20px;
  border: 2px solid black;
  box-sizing: border-box;
  float: right;
  background-color: white;
  padding: 5px;
}

.release-plan > h2 {
  font-size: 2vw;
}

.release-plan-row {
   display:table-row;
}

.release-plan-cell {
  display:table-cell;
  width: 12.5%;
  background-color: #f3f3f3;
  border: 1px solid black;
}