@import '../../../variables.css';

div.user-story {
	position: absolute;
	top: 0;
	left: 0;

	background-image: url('../../../images/paper.png');
	background-position: left top;
	background-size: 120px;
	cursor: pointer;
	display: inline-block;
	text-align: left;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
	padding: 12px;
	border-radius: 5px;
	width: 70px;
	height: 70px;
	border: 1px solid black;
}

/*div.user-story:nth-last-child(2) {
	top: 5px;
	left: -2px;
}

div.user-story:nth-last-child(3) {
	top: 10px;
	left: 2px;
}*/

div.user-story p {
	display: inline-block;
	margin: 3px 2px;
	font-size: 0.7em;
}

div.user-story p.header, div.user-story p.value {
	margin: 0;
 	width: 50%;
 	font-weight: bold;
}

div.user-story > .points {
	position: absolute;
  	bottom: 10px;
}