
.column-buttons {
	float: right;
	padding-top: 10px;
  	border-top: var(--border);
  	border-bottom: var(--border);
}

.column-buttons > button {
	color: white;
	font-size: 1.2em;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	cursor: pointer;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}

.column-buttons > button:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.set-button {
	background-color: #1ab6f1;
	display: inline-block;
}

.go-button {
	display: none;
	background-color: #0EF9B9;
}