.Dice {
  background-color: #4E7AC7;
  border-radius: 5px;
  width: 85px;
  height: 85px;
}

.die1, .die2, .die3, .die4, .die5, .die6 {
	background-size: 40px;
	width: 39px;
	height: 39px;
	border: 1px solid black;
	display: inline-block;
}

.die1 {
	background-image: url('./DicePics/One2.png');
}
.die2 {
	background-image: url('./DicePics/Two2.png');
}
.die3 {
	background-image: url('./DicePics/Three.png');
}
.die4 {
	background-image: url('./DicePics/Four.png');
}
.die5 {
	background-image: url('./DicePics/Five.png');
}
.die6 {
	background-image: url('./DicePics/Six.png');
}

