@import '../../variables.css';

nav.nav {
  	padding: 10px 0;
  	background-color: white;
  	border-bottom: var(--border);
  	box-sizing: border-box;
}

nav.nav > ul > li {
  	display: inline-block;
}

nav.nav > ul > li > a {
	transition: 0.2s;
  	padding: 10px 20px;
  	text-decoration: none;
  	color: var(--font-color);
}

nav.nav > ul > li > a:hover {
	color: var(--hover-color);
}