@import '../variables.css';

.scrumboard {
  position: relative;
  width: 100%;
  background-color: lightblue;
  box-sizing: border-box;
}

header.header {
  width: 100%;
  display: block;
  overflow: auto;
  box-sizing: border-box;
  padding-top: 2%;
  padding-bottom: 2%;
}