@import '../variables.css';

.scrumboard {
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

header.header {
  width: 100%;
  display: block;
  overflow: auto;
  box-sizing: border-box;
  padding-top: 2%;
  padding-bottom: 2%;
}

p.total {
  position: absolute;
  top: 95px;
  color: black;
  font-size: 16px;
}

p.total:nth-of-type(1) {
  left: 170px;
}

p.total:nth-of-type(2) {
  left: 330px;
}

p.total:nth-of-type(3) {
  left: 490px;
}

p.total:nth-of-type(4) {
  left: 296px;
  color: yellow;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

p.total:nth-of-type(5) {
  left: 456px;
  color: blue;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

p.total:nth-of-type(6) {
  left: 616px;
  color: yellow;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}