@import '../../../variables.css';

.column {
  display: inline-block;
  width: 19%;
  height: 100%;
  border-top: var(--border);
  border-right: var(--border);
  background-color: white;
  box-sizing: border-box;
}

.column:first-child {
  border-left: var(--border);
}

.column > h3 {
  padding: 10px;
  border-bottom: var(--border);
  font-size: 16px;
  height: 5%;
}

.column:last-child {
  
}

.column > .container {
  box-shadow: var(--inset-shadow);
  height: 90%;
}

#Cards .container {
  background-color: rgba(255, 255, 255, 1);
}

#Backlog .container {
  background-color: rgba(255, 255, 255, 1);
}

#Analysis .container {
  background-color: rgba(255, 255, 0, 0.4);
}

#Development .container {
  background-color: rgba(0, 255, 255, 0.2);
}

#Testing .container {
  background-color: rgba(255, 255, 0, 0.4);
}

#Done .container {
  background-color: rgba(255, 255, 255, 1);
}