@import '../../../variables.css';

.column {
  display: inline-block;
  width: 20%;
  height: 100%;
  border-right: var(--border);
  background-color: white;
  box-sizing: border-box;
}

.column:first-child {
  border-left: var(--border);
}

.column > h3 {
  padding: 10px;
  border-top: #1ab6f1;
  border-bottom: var(--border);
  font-size: 16px;
  height: 5%;
}

.column:last-child {
  
}

.column > .container {
  box-shadow: var(--inset-shadow);
  height: 90%;
}

#Cards .container {
  background-color: #FF6200;
}

#Backlog .container {
  /*background-color: #37c4f1;*/
  background-color: #03A7DE;
}

#Analysis .container {
  background-color: #0EB4EB;
}

#Development .container {
  background-color: #37C3F1;
}

#Testing .container {
  background-color: #5FCFF4;
}

#Done .container {
  background-color: #8FDDF7;
}