.defects-card {
  position: absolute;
  top: 0;
  left: 0;

  background-image: url('../../../images/paper.png');
  background-position: left top;
  background-size: 120px;
  cursor: pointer;
  display: inline-block;
  text-align: left;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  padding: 12px;
  border-radius: 5px;
  width: 70px;
  height: 70px;
}

.defects-card p {
  display: inline-block;
  margin: 3px 2px;
  font-size: 0.7em;
}

.defects-card p.header {
  margin: 0;
  width: 50%;
  font-weight: bold;
}

.defects-card > .points {
  position: absolute;
  bottom: 10px;
}