@import '../../../variables.css';

.column-bottom {
  display: inline-block;
  background-color: white;
  box-sizing: border-box;
  width: 95%;
  height: 100px;
}

.column-bottom > .column-buttons {
  display: inline-block;
  width: 20%;
  height: 100%;
  border-right: 2px solid black;
  background-color: white;
  box-sizing: border-box;
  box-shadow: var(--inset-shadow);
}