* {margin: 0; padding: 0;}

::selection {
  background: #ffb7b7;
}

.App {
  text-align: center;
}

/*--------------------------------------------------------------------------------CARDS*/

div.user-story {
  cursor: pointer;
  background-color: white;
  position: relative;
  display: inline-block;
  text-align: left;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  margin: 20px 12px;
  padding: 12px;
  border-radius: 5px;
  width: 8vw;
  height: 8vw;
}

div.user-story p {
  display: inline-block;
  margin: 3px 2px;
  font-size: 1.2vw;
}

div.user-story p.header, div.user-story p.value {
  margin: 0;
  width: 50%;
  font-weight: bold;
}

div.user-story > .points {
  position: absolute;
  bottom: 10px;
}

/*Maintenance*/

.maintenanceCard {
  cursor: pointer;
  background-color: #c1f6b2;
  position: relative;
  display: inline-block;
  text-align: left;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  margin: 20px 12px;
  padding: 12px;
  border-radius: 5px;
  width: 8vw;
  height: 10vw;
}

.maintenanceCard p {
  display: inline-block;
  margin: 3px 2px;
  font-size: 1.2vw;
}

.maintenanceCard p.header{
  margin: 0;
  width: 50%;
  font-weight: bold;
}

.maintenanceCard > .points {
  position: absolute;
  bottom: 10px;
}

/*Defects*/

.defectsCard {
  cursor: pointer;
  background-color: #f6b8b8;
  position: relative;
  display: inline-block;
  text-align: left;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  margin: 20px 12px;
  padding: 12px;
  border-radius: 5px;
  width: 8vw;
  height: 10vw;
}

.defectsCard p {
  display: inline-block;
  margin: 3px 2px;
  font-size: 1.2vw;
}

.defectsCard p.header{
  margin: 0;
  width: 50%;
  font-weight: bold;
}

.defectsCard > .points {
  position: absolute;
  bottom: 10px;
}



/*--------------------------------------------------------------------------------NAVBAR*/

div.nav {
  background-color: white;
  border: 2px solid black;
  box-sizing: border-box;
}

header {
  width: 100%;
  display: block;
  overflow: auto;
  box-sizing: border-box;
  padding-top: 2%;
  padding-bottom: 2%;
}

/*--------------------------------------------------------------------------------MEMBERS*/

div.members {
  height: 200px;
  width: 30%;
  border: 2px solid black;
  margin-left: 5%;
  box-sizing: border-box;
  float: left;
  background-color: white;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.7);
  padding: 10px;
}

div.members > p {
  font-size: 1.4vw;
}

/*--------------------------------------------------------------------------------RELEASEPLAN*/

div.releaseplan {
  width: 50%;
  height: 200px;
  border: 2px solid black;
  margin-right: 5%;
  box-sizing: border-box;
  float: right;
  background-color: white;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.7);
  padding: 10px;
}

div.releaseplan > h2 {
  font-size: 2vw;
}

.releaseplan_table {
   display:table;
   width: 100%;
   height: 100%;
}

.releaseplan_table_row {
   display:table-row;
}

.releaseplan_table_row_heading {
   display:table-row;
   width: 50%;
}

.releaseplan_table_cell {
   display:table-cell;
   border: solid black;
}

/*---------
Columns
---------*/



.columns {
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.7);
  overflow: auto;
  width: max-content;
  margin: auto;
  height: 40vw;
}

.column {
  display: inline-block;
  width: 12.5vw;
  height: 100%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  background-color: white;
  box-sizing: border-box;
}

.column:first-child {
  border-left: 2px solid black;
}

.column > h3 {
  padding: 10px;
  border-bottom: 2px solid black;
}

.column-bottom {
  display: inline-block;
  width: 12.5vw;
  height: 100%;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  background-color: white;
  box-sizing: border-box;
}
.column-dice {
  display: inline-block;
  width: 25vw;
  height: 100%;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  background-color: white;
  box-sizing: border-box;
 
}
.columns-bottom {
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.7);
  overflow: hidden;
  width: max-content;
  margin: auto;
  height: 10vw;
}

