@import './variables.css';

.app {
	position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 25%);
	width: 800px;
  height: 600px;
	box-sizing: border-box;
	margin: auto;
  border: 3px solid #1ab6f1;
  /*border-left: #05F055;
  border-top: #05F055;
  border-right: #F3507B;
  border-bottom: #F3507B;*/
}