@import '../../../variables.css';

.maintenance-card {
  position: absolute;
  top: 0;
  left: 0;

  box-sizing: border-box;
  background-image: url('../../../images/paper.png');
  background-position: left top;
  background-size: 120px;
  cursor: pointer;
  display: inline-block;
  text-align: left;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  padding: 5px 12px;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  border: 1px solid black;

  transition:
  border-color 0.3s ease,
  box-shadow 0.3s ease,
  left 2s ease;
}

.maintenance-card p {
  display: inline-block;
  margin: 3px 2px;
  font-size: 0.7em;
}

.maintenance-card p.header {
  margin: 0;
  width: 50%;
  font-weight: bold;
}

.maintenance-card > .points {
  position: absolute;
  bottom: 5px;
  letter-spacing: -2px;
}

.maintenance-card > .points p {
  font-weight: bold;
}